.body-main-about-inside {
  height: 65vh;
}
.table-responsive table tr {
  padding: 0.2rem 2rem;
  border: 1px solid rgb(222, 226, 230);
  border-collapse: collapse;
}
.search-again div {
  padding: 1rem; 
  border: none;
}
.search-again div input, .search-again div select {
    font-weight: 500;
    font-size: 1rem;
  margin: 0.8rem 0 1.5rem;
  padding: 0.5rem  0; 
  width: 100%;
}
.search-again div button:hover {
  border: 1px solid #000;
}
.search-again div button {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 0.3rem 0.7rem;
}
.table-responsive > div {
  margin: 0 1rem;
}
.table-responsive {
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem;
}
.search-again{
    margin: 0 0 1.5rem;
}

.table-responsive-div1{
    border: none !important;
}
.body-main-home{
    min-height: 100vh;
}
.prev-next{
    position: relative;
    top:50px;
    left:35%;
    border: none !important;
}
.prev-next span:hover{
    background-color: azure;
    transition: all 0.3s;
    cursor: pointer;
}
.prev-next span{
    padding:0.4rem 0.4rem;
    border:1px solid gray;
}